//@require '~vuetify/src/stylus/settings/_variables.styl'


$blue = darken(lightblue, 40%) //lightskyblue
$darkblue = darken($blue, 30%)

// $lightsalmon = #AF5F5F
$salmon = salmon
// $darksalmon = indianred
// $darkersalmon = #ff5a5f

$green = #00d1b2
$darkgreen = cadetblue
